@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body,
#__next {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

@media (max-width: 1000px) {
  .flex-col {
    flex-direction: column;
  }

  .p-2 {
    padding: 0.5rem !important;
  }

  .p-4 {
    padding: 1rem !important;
  }
}

@media (min-width: 1001px) {
  .flex-row {
    flex-direction: row !important;
  }
}
